.container-1 {
    border: 1px solid black;
}


.flex-box-container-1{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.flex-box-container-1 div {
    display: flex;
    padding: 10px;
    border: 1px solid green;
}